
/* google fonts imported */
@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Oswald:wght@200..700&display=swap');
/* asterix wildcard to override default style added by the browsers */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/* general styles */
body {
    min-height: 100vh;
    color:#3a3a3a;
    display: flex;
    flex-direction: column;
    font-family: 'Lato', sans-serif;
    
}
 /* styling of the logo */
h1, h2, h3 {
    font-family: 'Oswald', sans-serif;
    text-transform: uppercase;
    letter-spacing: 2px;
    color: #252525;
}

/* mobile first styling */
/* header */
header {
    background-color: #ffffff;
    /* padding left and right to prevent the navbar sticking to the sides of the screen */
    padding: 0 1rem;
    /* to make the navbar to scroll along we set to position to fix and use z-index, 99 is good as it makes sure it is layered on the top of any elements */
    position:fixed;
    z-index: 99;
    /* to make header to go again on whole width of page add width 100% */
    width:100%;
    /* adding depth and making better user experience is done with box shadow, negative number sets it to left positive right first number is horizontal offset - we dont need so set to zero*/

     /* vertical offset will with positive numbers set the shadow below and  negative above. Both are mandatory (the third value set the blur */

    box-shadow: 0 2px 2px #3a3a3a;
     /* to make toggle next to logo */
    display: flex;
    justify-content: space-between;
    /* to make sure they align inline vertically */
    align-items: baseline;
}
 header a {
    text-decoration: none;
    color: inherit;
   
 }

 /* styling of the logo */
h1 {
    font-family: 'Oswald', sans-serif;
    text-transform: uppercase;
    letter-spacing: 2px;
    color: #252525;
}

/* styling of links - menu */

#menu {
    font-size: 110%;
    letter-spacing: 4px;
    /* that delete bullet points in list */
    list-style-type: none;
    
}

#menu li {
    margin-bottom: 1em;
}
.active {
    border-bottom: 1px solid #3a3a3a;

}

/* navbar styles with dropdown toggle
*/

nav {
    /* position absolute take that away from normal flow of the page structure, its positioned relative from the nearest positioned ancestors - the header in this case */
    position: absolute;
    background-color:#ffffff;
    width: 100%;
    left: 0;
    padding: 0 1rem;
    box-shadow: 0 2px 2px #3a3a3a;
    display: none;
    /* to make sure the toggle does not cover whole header we add top 100% tells the navigation element that the top element should start at the bottom of its parent (0% is on the top of the parent, 100% is on the bottom of the parent*/
    top: 100%;
}

/* nav toggle */

#nav-toggle:checked~nav {
    display:block;
}
#nav-toggle {
    display: none;
}
.nav-toggle-label {
    font-size: 2rem
}
/* main content */
main {
    
    /* makes sure that any surplus of space will be taken and footer stays at the bottom*/
    flex: 1 0 auto;
    /* to make content visible have to push it down with margin top */
    margin-top: 47px;

}
/* hero section */
#hero {
    height: 600px;
    width: 100%;
    background: url("../assets/images/hero-image.webp") no-repeat center center/cover;
    position: relative;
   
}
#cover-text {
    /* final rgba value sets the opacity so it is semi transparent */
    background-color: rgba(241, 109, 107, 0.7);
    font-size: 130%;
    position: absolute;
    bottom: 30px;
    width:80%;
    min-height: 200px;
    padding-top:40px;
    padding-left: 10px;
}
#cover-text h2, #cover-text h3 {
    color:#ffffff;
}

/* footer */

#social-networks {
    text-align: center;
    padding: 20px 0;
    display: flex;
    justify-content: space-evenly;
    list-style-type: none;
}
/* styling of the icons */
#social-networks i {
    font-size: 160%;
    padding:5%;
    color:#3a3a3a;
}
/* reasons section */
#reasons {
    width: 90%;
    margin: 20px auto;
}
#reasons h2{
    margin-bottom: 20px;
    text-align: center;
    font-size: 280%;
}
#benefits-physical > div, 
#benefits-mental > div {
    line-height: 20px;
    margin-bottom: 20px;
}

#benefits p {
    padding: 0 20px
}
#benefits hr {
    border-top: 1px  solid #3a3a3a;
    margin: 5px 0;
}
#circle-cover-bg {

    background: url("../assets/images/reasons-image.webp") no-repeat top center / cover;
    height: 90vw;
    width: 90vw;
    margin-bottom: 20px;
    /* to make it circle */
    border-radius: 50%;
    max-width: 300px;
    max-height: 300px;;
    
}
#benefits-image {
    display: flex;
    justify-content: center;
    align-items: center;
    
}
#times {
    background: url("../assets/images/dublin-city.webp") no-repeat center/cover;
    /* handles responsivness without the need for media queries */
    display: flex;
    flex-wrap: wrap;
}
#times h3 {
    /* override the heading color set in general styles */
    color: #fafafa;
}
#times div {
    color: #fafafa;
    background-color: rgba(0, 0, 0, .6);
    padding: 15px;
    text-align: center;
    /* This will not wrap on screens of less than 400px wide.
    Each div will expand to fill the available space on its row */
    flex-basis: 200px;
    flex-grow: 1;
    /* creates grid of meetup time divs over the background image */
    border: 2px solid white;;
}


/* media querie for tablets and larger (768px and up) */

@media screen and (min-width: 768px) {
    /* header */
    nav {
        display:block;
        /* to have the nav back inside header */
        position:relative;
        box-shadow: none;
        width: fit-content;
        padding-right: 1rem;
    }

#menu {
    display: flex;
    
}
#menu > li {
    padding-left: 1rem;
}
.nav-toggle-label {
    display: none;
}
#logo {
    font-size: 280%;
    line-height: 75px;
    margin: 0 0.5rem;
}
main 
/* push main down so we can accomodate for the larger header */
{
    margin-top:79px;
}
/* #hero */
#cover-text {
   width: 300px;
   right:50px;
}
 /* reasons section */
   #befits-physical,
   #benefits-mental {
    display:flex;
    flex-direction: column;
    width:100%;

}
#befits-physical > div,
#benefits-mental > div {
    width:75%;
}
/* get the mental benefits to right */
#benefits-mental > div {
    text-align: end;
    align-self: flex-end;
}
}
@media screen and (min-width: 992px) {
    /* larger devices laptops and desktops, 992 and up*/
#menu a:hover{
    border-bottom: 1px solid #3a3a3a;
}
}
@media screen and (min-width: 1200px) {
    /* larger devices laptops and desktops, 1200 and up*/
  #benefits {
    display: flex;
    flex-direction: row;
  }
#benefits > div {
    flex: 1;
}   

#benefits-image {
    order: 0;
} 
#benefits-mental {
    order: 1;
}
#benefits-mental >div {
align-self: flex-start;
}
#benefits-physical >div {
    align-self: flex-end;

    }
}
