
/* google fonts imported */
@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Oswald:wght@200..700&display=swap');
/* asterix wildcard to override default style added by the browsers */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/* general styles */
body {
    min-height: 100vh;
    color:#3a3a3a;
    display: flex;
    flex-direction: column;
    font-family: 'Lato', sans-serif;
}

/* mobile first styling */
/* header */
header {
    background-color: #ffffff;
    /* padding left and right to prevent the navbar sticking to the sides of the screen */
    padding: 0 1rem;
    /* to make the navbar to scroll along we set to position to fix and use z-index, 99 is good as it makes sure it is layered on the top of any elements */
    position:fixed;
    z-index: 99;
    /* to make header to go again on whole width of page add width 100% */
    width:100%;
    /* adding depth and making better user experience is done with box shadow, negative number sets it to left positive right first number is horizontal offset - we dont need so set to zero*/

     /* vertical offset will with positive numbers set the shadow below and  negative above. Both are mandatory (the third value set the blur */

    box-shadow: 0 2px 2px #3a3a3a;
     /* to make toggle next to logo */
    display: flex;
    justify-content: space-between;
    /* to make sure they align inline vertically */
    align-items: baseline;
}
 header a {
    text-decoration: none;
    color: inherit;
   
 }

 /* styling of the logo */
h1 {
    font-family: 'Oswald', sans-serif;
    text-transform: uppercase;
    letter-spacing: 2px;
    color: #252525;
}

/* styling of links - menu */

#menu {
    font-size: 110%;
    letter-spacing: 4px;
    /* that delete bullet points in list */
    list-style-type: none;
    
}

#menu li {
    margin-bottom: 1em;
}
.active {
    border-bottom: 1px solid #3a3a3a;

}

/* navbar styles with dropdown toggle
*/

nav {
    /* position absolute take that away from normal flow of the page structure, its positioned relative from the nearest positioned ancestors - the header in this case */
    position: absolute;
    background-color:#ffffff;
    width: 100%;
    left: 0;
    padding: 0 1rem;
    box-shadow: 0 2px 2px #3a3a3a;
    display: none;
    /* to make sure the toggle does not cover whole header we add top 100% tells the navigation element that the top element should start at the bottom of its parent (0% is on the top of the parent, 100% is on the bottom of the parent*/
    top: 100%;
}

/* nav toggle */

#nav-toggle:checked~nav {
    display:block;
}
#nav-toggle {
    display: none;
}
.nav-toggle-label {
    font-size: 2rem
}
/* main content */
main {
    background-color:lightblue;
    /* makes sure that any surplus of space will be taken and footer stays at the bottom*/
    flex: 1 0 auto;

}
/* footer */
footer {
    background-color: orange;
}